<?xml version="1.0"?>

<launch>
    
    <!-- RViz -->
    <!-- Subscriptions: -->
    <!-- Publications: -->
    <!-- NEED TO RUN DEFAULT RVIZ AND CONFIGURE VIEW BEFORE SAVING CONFIG TO config.rviz, THEN SWITCH TO COMMENTED VERSION -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find articubot)/rviz/teb_config.rviz"/>
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find jiqi_navigation)/config/rviz/config.rviz" /> -->

</launch>
