<?xml version="1.0"?>

<launch>

	<!-- PARAMETERS -->
	<param name="/use_sim_time" value="false" />


	<!-- ZED SDK -->
	<!-- Publications:  /front_object_close_slow, /front_object_close_stop, /imu_data_raw, /imu_mag -->
	<node pkg="jiqi_zed" type="jiqi_zed" name="zed2Cam" output="screen" >
		<rosparam file="$(find jiqi_zed)/config/jiqi_zed/jiqi_zed.yaml" command="load" />
	</node>

	<!-- Madgwick Filter -->
	<!-- Subscriptions: /imu_data_raw, /imu_mag -->
	<!-- Publications:  /imu_data -->
	<node pkg="nodelet" type="nodelet" name="imu_manager" args="manager" output="screen" />
	<node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" output="screen" >
		<rosparam file="$(find jiqi_zed)/config/imu_tools/imu_tools.yaml" command="load" />
	</node>

	<!-- RViz -->
	<!-- Used for visualisation and setting movement goals during testing -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find jiqi_zed)/config/rviz/config.rviz" />

</launch>

